<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rcipes Home page</title>
    <link rel="stylesheet" href="./static/style.css">

    <meta name="74182105ecaf68d7f59956785eae9b91be6de647" content="74182105ecaf68d7f59956785eae9b91be6de647" />
</head>
<body>
    <h1>Welcome to Recipes with Strayone</h1>
    <nav>
        <a href="/meals_otd.html">Meals of the Day</a>
        <a href="/random_recipe.html">Random Recipe</a>
        <a href="/search.html"> Search Recipes</a>
    </nav>



    <div class="main-content">
        <h2>Featured Recipe</h2>
        
        {% if recipe %}
        <div class="recipe-card">
            <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}">
            <h2>{{ recipe['title'] }}</h2>
            <!--<p>{{ recipe['summary'][:150] }}...</p>-->
            <a href="{{ recipe['sourceUrl'] }}" target="_blank">View Full Recipe</a>
        </div>
        {% else %}
        <p>{{ error_message }}</p>
        {% endif %}
    </div>

    <!-- Left ad zone -->
    <div class="ad-zone1">
        <script>
            (function(kyfsz){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = kyfsz || {};
                s.src = "\/\/sweltering-development.com\/bYX.VrsadYGxl\/0NYWWrcW\/DeDmn9\/uZZ\/UVlQk\/PlTtYFwsNMDBYk4lMLjvYbt\/NVjLAW0XNijTggy_NVwy";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>

    <div class="ad-container">
        <div class="ad-zone2">
            <script>
                (function(awqc){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = awqc || {};
                s.src = "\/\/sweltering-development.com\/bwXDVqs.dgGqlQ0DYsWzdXiqYnWf5euVZHXcIr\/ceHmk9FuEZXUHl\/k-PzT\/YVwiNIDHYk4DOpD_A\/t\/NMj\/AR0VNHjhgc4xM\/Qr";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>
    
        <div class="ad-zone3">
            <script>
                (function(kjjgno){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = kjjgno || {};
                s.src = "\/\/sweltering-development.com\/b.XbVms\/dpGylm0UYuWjdXioYQW\/5IuuZ\/XKIM\/eeFm_9XuuZWUslHksPzTSYfwDNRDMYY5\/NNDzgotANLjiA_0RNrjVk\/0\/O\/Qv";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>
    </div>
    
</body>
</html>