<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals of the Day</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1>Meals of the Day</h1>
    <nav>
        <a href="/" class="btn">Home</a>
    </nav>
    <div class="grid-wrapper">
        <div class="recipe-grid">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <h2>{{ recipe.title }}</h2>
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <p><a href="{{ recipe.sourceUrl }}" target="_blank">View Full Recipe</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--vid ad-->
    <div>
        <script>
            (function(qktfq){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = qktfq || {};
            s.src = "\/\/sweltering-development.com\/b.XzVzsFd_Grlk0\/YHWMch\/peqmM9lu\/Z\/U\/l\/kWP\/TKYUw\/NEDBc-wZNaDgIItoNgjSAV0YNJzgAb0yMMws";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>

    <!--banner ads-->
    <div class="left-ad-container">
        <div class="left-ad1">
            <script>
                (function(pptv){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = pptv || {};
                s.src = "\/\/sweltering-development.com\/b\/XkVqswd.GHlN0_YdW\/d\/iyYAWt5dutZBXoIC\/pecm\/9suXZ_UQl\/kfP\/TAYzwRNuD\/cpwQNeTvIkt\/NGjPAF0fNKzbA\/1\/M\/wk";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>

        <div class="left-ad2">
            <script>
                (function(dorpv){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = dorpv || {};
                s.src = "\/\/sweltering-development.com\/b.XkVss\/dSGElE0iYHWgdSi\/Y\/Wg5ouyZ_XfIg\/meums9xufZuU\/lTk-P\/TTYsw\/NADFciwPNGjfItt\/N\/jOAV0RNNzTAH2bMGwh";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>
        
        <div class="left-ad3">
            <script>
                (function(njmmdt){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = njmmdt || {};
                s.src = "\/\/sweltering-development.com\/b.XyVMs\/d\/GTlw0ZYFWsdgijY\/WG5yu\/ZEXMIV\/he\/mE9cuOZqUwlxkNPnTDY\/wxN-DFcbx\/NmT\/YFtBNsj\/Al0wNlz\/E\/1\/Now_";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>

        <div class="left-ad4">
            <script>
                (function(vfx){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = vfx || {};
                s.src = "\/\/sweltering-development.com\/b-X.VYs\/dDGYlU0\/YzWVdEiWYTWT5\/uDZHXmIn\/QeTmQ9cuyZvUKllkcPjTYYWwQN\/DIcFxNO\/DAQythNCj\/A\/0gNwzKEW4\/N\/QF";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>
    </div>

    <!--right ad banners-->
    <div class="right-ad-container">
        <div class="right-ad1">
            <script>
                (function(dbasi){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = dbasi || {};
                s.src = "\/\/sweltering-development.com\/bfXhVts.dnGalm0\/Y\/WHd\/iZY\/Ww5wuRZTXRII\/meLmP9cu\/ZDU-l\/kkPSTmYIwdNuDGc\/xmMzjfgqtsNnjFAH0jNKzGEby\/OoQE";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>
        <div class="right-ad2">
            <script>
                (function(nple){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = nple || {};
                s.src = "\/\/sweltering-development.com\/bhX\/VSsKd.GTle0hYCWfdsieYhWo5NuxZZXrIN\/Benms9gugZ\/UYlwkQPITcYIwrNEDYcSxjNODhYVtyNbjuAa0eNEzFEC0dNkwi";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>

        <div class="right-ad3">
            <script>
                (function(btbkp){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = btbkp || {};
                s.src = "\/\/sweltering-development.com\/bMX.V\/smdkGjlr0DYUWXdyiUYRWK5tuCZAX\/IM\/WeSmj9yu\/ZfUqljkVPyTBYvw\/N\/DWcDyZM\/D\/QRtqNMjLAn0-NVz\/IJwBNOQh";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>

        <div class="right-ad4">
            <script>
                (function(gvju){
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = gvju || {};
                s.src = "\/\/sweltering-development.com\/b\/XsVys.duGRlQ0nYFWedViBYSWV5\/uKZmXjIe\/ieFmF9\/ucZOUwlfkGPAT\/YcwVNKDNcsyoM\/TjQ\/tyNGjwAK0lN\/zLIoxkNnQg";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
                })({})
            </script>
        </div>
    </div>
    
</body>
</html>
