<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Recipe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Random Recipe</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
    <div class="random-recipe-card">
        <h2>{{ recipe.title }}</h2>
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        <p><a href="{{ recipe.sourceUrl }}" target="_blank">View Full Recipe</a></p>
    </div>


    <!--vid ad-->
    <div class="vid-ad">
        <script>
            (function(chsk){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = chsk || {};
            s.src = "\/\/illustriousarrival.com\/bHX\/Vas.dvG_l\/0SY\/WVcF\/weymV9\/u\/ZKUWl\/kwP\/TCYmwiNrDrc\/ygOADOc\/tEN\/jIAz0QNfziIj4wOJAf";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>
</body>
</html>
