<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Recipes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Search Recipes</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
    <form method="post">
        <input type="text" name="query" placeholder="Enter a keyword or ingredient">
        <button type="submit">Search</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <!--vid ad-->
    <div class="fp4-vid-ad">
        <script>
            (function(gpixmm){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = gpixmm || {};
            s.src = "\/\/illustriousarrival.com\/b\/X.VSs\/dLGnl\/0dYUWQch\/heqmn9lu\/ZaUMl-kZPMTgYLwuNqDXclyEOUTfcCt\/NSjGA\/0\/NNzuIz5sOcAx";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>
</body>
</html>
