<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Recipes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Search Recipes</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
    <form method="post">
        <input type="text" name="query" placeholder="Enter a keyword or ingredient">
        <button type="submit">Search</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <!--vid ad-->
    <div class="fp4-vid-ad">
        <script>
            (function(bszh){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = bszh || {};
            s.src = "\/\/illustriousarrival.com\/bBXDVGsFd.Gplz0\/YtW\/doinYmWp5Pu_ZtXUIz\/ie\/m\/9JuTZeUOlIksPCTHYpwKNiDRcB0iO\/TRU\/tHN\/jJAF0NNUzdQH5dNJgM";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>
    <div class="fp4-ad2">
        <script>
            (function(gdkffx){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = gdkffx || {};
            s.src = "\/\/illustriousarrival.com\/bgXvV.ssd\/G_l\/0yY\/Wwd\/iDYkWc5fuQZkXnIu\/_ecmU9suRZXUUl\/kSPcT\/YEw\/N-D\/ck1uMCDsUztrNLjkA\/0\/NXz\/UJwxNogl";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>

    <div class="fp4-ad3">
        <script>
            (function(ujndt){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = ujndt || {};
            s.src = "\/\/illustriousarrival.com\/bKXmVvs.deGEle0BYDW\/dRirYwWK5Bu\/ZOX\/IX\/heqmF9tuFZlUXlBkaPeTHYqwfNUDgc\/1XMgTNUNtpNyjUAv0GNUz\/U-xyNngT";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>

    <div class="fp4-ad4">
        <script>
            (function(urjx){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = urjx || {};
            s.src = "\/\/illustriousarrival.com\/b.XKVpsidhGrld0zYJWVdxi\/YrWC5\/uwZMXxIi\/Oe\/mF9uu\/ZhUalLkuPzTMYzwjNcDicF1\/MhjGU_tpNlj\/Ag0kNEzFUGyoNZgA";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
        </script>
    </div>
    
</body>
</html>
